.home{
    background-image: url(https://i.postimg.cc/nhygNLCB/download-bg.jpg);
    background-repeat: no-repeat;
    /* background-size:cover; */
    height: 100vh;
    /* width:100%; */
    background-position: center;
    background-size: cover;
}

.container {
    text-align: center;
    padding: 20%;
}